#HomePage {
	background-color: #edd1e7;
}

#Debut {
	background-color: #d9ffcc;
}
#FearlessTaylorsVersion {
	background-color: #ffffcc;
}
#SpeakNow {
	background-color: #d9ccff	;
}
#RedTaylorsVersion {
	background-color: #ffcccc;
}
#A1989 {
	background-color: #ccf2ff;
}
#Reputation {
	background-color: #000000;
	
}
#Lover {
	background-color: #ffccff;
}
#folklore {
	background-color: #e6e6e6;
}
#evermore {
	background-color: #ffe6cc;
}
#Midnights {
	background-color: #8585e0;
}

.whiteText {
	color:white;
}
